@import "../../css/_mixins.scss";
@import "../../css/_theme-vars.scss";

/* Skin-specific responsive styles
---------------------------------- */
@media #{$media_lg} {
	#joomsport-container table.cansorttbl td,
	#joomsport-container .table > thead > tr > th {
		padding: 10px 10px !important;
	}
}
@media #{$media_md} {
	#joomsport-container .table > thead > tr > th {
		font-size: 16px !important;
	}
	.tdminwdt.jstdhometeam,
	.jsmainscroll .jsview2 table td.jstdawayteam{
		margin: 0 auto;
		display: table;
	}
	.jsmainscroll .jsview2 table td.jsvalignmdl{
		margin: 0 auto;
		display: table;
	}
	#joomsport-container .searchMatchesDiv label {
		min-width: 60px;
	}
}
@media #{$media_sm} {
	#joomsport-container .form-group input {
		display: block;
		width: 100%;
	}
	#joomsport-container .form-group input+input{
		margin-top:15px;
	}
}

@media #{$media_xs} {
	#joomsport-container .data .select2-container--default .select2-selection--single {
		width: 100%;
	}
	#joomsport-container .col-xs-6 {
		width: 100%;
	}
	#joomsport-container div.selection {
		margin-top: 10px;
		margin-bottom: 25px;
	}
}