.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  flex: 1 0 auto;
}

.header {
}

.header-nav {
}

.header-container {
  background-color: var(--theme-dark-paper);

  .contain-xl {
    position: relative;
  }
}

.header-menu {
  // display: flex;
}

.header-menu-admin {
  background-color: var(--theme-dark-card);
  padding-top: $sp-1;
  padding-bottom: $sp-1;

  a {
  }
}

.header-menu-ads {
  background-color: var(--theme-dark-paper);
}

.header-menu-page {
  background-color: var(--theme-dark-card);
}

.header-branding {
  position: absolute;

  svg {
    width: 100px;
  }
}

.header-title {
}

.header-description {
}
