// stylelint-disable declaration-property-unit-allowed-list, no-descending-specificity

// Set root size for rems
:root {
  font-size: 100%;
}

// Start typography settings
body {
  color: $system-neutral-90;
  font-family: $font-sans;
  @include fontSizing(16px, 24px);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: $weight-normal;
  // stylelint-disable-next-line value-keyword-case
  text-rendering: geometricPrecision;
}

// Defaults
p,
dd,
dt,
figcaption,
hr,
small,
ol,
ul,
li,
blockquote,
kbd,
pre,
samp,
code,
th,
td,
table,
tr,
%default {
  @include fontSizing(16px, 24px);
}

// Heading defaults
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: unset;
  margin-bottom: unset;
  font-family: $font-heading;
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}

h5 {
  @include h5;
}

.text-light,
.text-light > *,
.text-light ~ * {
  color: $system-neutral-00;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

// Bold
b,
strong {
  font-weight: $weight-bold;
}

// Italic
em,
i {
  font-style: italic;
}

// Default paragraphs
p {
}

p:last-child {
  margin-bottom: 0;
}
