// Colors
:root {
  --color-sticky-navigation-background: var(--color-valhalla);
}

.site-header {
  transition: all $transition-duration ease;
}

.nav-container {
  overflow: visible;
  width: 100%;
  z-index: 100;
}

@keyframes roll-in {
  0% {
    opacity: 0;
    top: -100%;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}
