/* Skin-specific responsive styles
---------------------------------- */
@media (max-width: 1679px) {
  /* Large Title */
  .large-title .sc_item_title {
    font-size: 100px;
    letter-spacing: 5px;
  }

  .large-title .sc_title_descr {
    font-size: 26px;
  }

  .sp-template-event-blocks .sp-event-results {
    font-size: 37px !important;
  }
}
@media (max-width: 1439px) {
  /* Large Title */
  .large-title .sc_item_title {
    font-size: 90px;
    letter-spacing: 3px;
  }

  .large-title .sc_title_descr {
    font-size: 24px;
    margin-top: 10px;
  }

  .sc_promo.sc_promo_size_large .sc_promo_title {
    font-size: 70px;
  }

  .medium-title .sc_item_title {
    font-size: 70px;
  }

  .body_style_boxed .large-title .sc_item_title {
    font-size: 70px;
  }

  .body_style_boxed .large-title .sc_title_descr {
    font-size: 15px;
  }
}
@media (max-width: 1279px) {
  /* Large Title */
  .large-title .sc_item_title {
    font-size: 70px;
  }

  .large-title .sc_title_descr {
    font-size: 20px;
    padding-left: 10px;
  }

  /* Medium Large Title */
  .medium-title .sc_item_title {
    font-size: 60px;
  }

  /* SprotPress*/
  .extra-countdown.top-style .widget_title,
  .extra-countdown.top-style .sp-table-caption {
    margin-top: 0 !important;
  }

  .extra-countdown.top-style .wp-widget-sportspress-countdown {
    padding: 18px 4%;
  }

  .extra-countdown.top-style .sp-template-countdown {
    width: 58%;
  }

  .sp-template-event-blocks:not(.sp-template-event-logos-block) .sp-event-blocks .team-logo {
    height: 8em;
    margin: 5px;
  }

  .sc_promo.sc_promo_size_large .sc_promo_title {
    font-size: 60px;
  }

  /* Events */
  .single-tribe_events .tribe-events-meta-group .tribe-events-single-section-title {
    font-size: 30px;
  }

  #tribe-events-footer .tribe-events-sub-nav li a,
  .single-tribe_events a.tribe-events-gcal, .single-tribe_events a.tribe-events-gcal:hover, .single-tribe_events a.tribe-events-ical, .single-tribe_events a.tribe-events-ical:hover {
    padding: 1.2em 2.5em;
  }
}
@media (max-width: 1023px) {
  /* Large Title */
  .large-title .sc_item_title {
    font-size: 60px;
  }

  .large-title .sc_title_descr {
    font-size: 18px;
    padding-left: 10px;
    letter-spacing: 2px;
  }

  .medium-title .sc_item_title {
    font-size: 50px;
  }

  /* SprotPress*/
  .extra-countdown.top-style .sp-template-countdown:before {
    display: block;
  }

  .extra-countdown.top-style .widget_title, .extra-countdown.top-style .sp-table-caption {
    text-align: center;
  }

  .extra-countdown.top-style .sp-template-countdown {
    padding-top: 0;
  }

  .extra-countdown.top-style {
    padding: 0 !important;
  }

  .sp-template-event-blocks .sp-event-results a, .sp-template-event-blocks .sp-event-results a .sp-result {
    font-size: 1.5rem !important;
  }

  .sidebar_inner .sp-template-countdown .team-logo, .sc_layouts_widgets .sp-template-countdown .team-logo {
    width: 33%;
  }

  .sc_layouts_widgets .sp-template-countdown .sp-event-name > a:not(.team-logo) {
    margin-top: 0;
    text-align: center;
    overflow: visible;
    margin-bottom: 0;
    padding-top: 0;
    display: block;
    width: 33%;
  }

  .extra-countdown.top-style .widget_title,
  .extra-countdown.top-style .sp-table-caption,
  .extra-countdown.top-style .sp-template-countdown {
    width: 50% !important;
  }

  .sc_promo.sc_promo_size_large .sc_promo_title {
    font-size: 50px;
  }

  .sc_promo.sc_promo_size_normal .sc_promo_title {
    font-size: 39px;
  }

  .sc_icons_default.sc_align_right .sc_icons_item_details {
    padding: 33px 6px 39px 15px !important;
  }

  .sc_icons_default.sc_align_left .sc_icons_item_details {
    padding: 33px 15px 39px 6px !important;
  }

  .sc_icons_default.sc_align_left .sc_icons_image img,
  .sc_icons_default.sc_align_right .sc_icons_image img {
    max-width: 75%;
  }

  /* 404 */
  .post_item_404 .page_title {
    font-size: 12em;
  }

  .search-no-results .page_title {
    font-size: 6em;
  }

  /* Price */
  .sc_price_item_link {
    padding: 0.7em 1em;
  }

  .sc_layouts_row_type_normal .search_wrap .search_field {
    width: 8em;
  }
}
@media (max-width: 767px) {
  .extra-countdown.top-style .wp-widget-sportspress-countdown {
    padding: 20px 6%;
  }

  .extra-countdown.top-style .widget_title, .extra-countdown.top-style .sp-table-caption, .extra-countdown.top-style .sp-template-countdown {
    width: 100% !important;
  }

  .extra-countdown.top-style .widget_title, .extra-countdown.top-style .sp-table-caption {
    width: 100% !important;
    text-align: center;
  }

  .extra-countdown.top-style .sp-template-countdown:before {
    display: none;
  }

  .extra-countdown.top-style .sp-countdown-wrapper {
    padding-left: 0;
    margin-top: 25px;
  }

  .extra-countdown.top-style .sp-countdown-wrapper .countdown.sp-countdown time {
    justify-content: space-around;
  }

  .medium-title .sc_item_title {
    font-size: 45px;
  }

  /* Extra Table */
  .extra-table .sc_table table td:last-of-type {
    text-align: center;
  }

  .body_style_boxed .large-title .sc_item_title {
    font-size: 55px;
  }

  /* WooCommerce */
  .woocommerce ul.products li.product .woocommerce-loop-product__title {
    font-size: 14px;
    padding: 0;
  }
}
@media (max-width: 479px) {
  /* Large Title */
  .large-title .sc_item_title {
    font-size: 35px;
  }

  .large-title .sc_title_descr {
    font-size: 16px;
    padding-left: 10px;
  }

  /* Medium Title */
  .medium-title .sc_item_title {
    font-size: 30px;
  }

  /* Small Title */
  .small-title .sc_item_title {
    font-size: 30px;
  }

  .sc_item_subtitle {
    font-size: 15px;
  }

  /* SprotPress*/
  .extra-countdown.top-style .wp-widget-sportspress-countdown {
    padding: 20px 15%;
  }

  .sc_promo.sc_promo_size_large .sc_promo_title {
    font-size: 35px;
  }

  .sc_promo.sc_promo_size_normal .sc_promo_title {
    font-size: 30px;
  }

  blockquote, blockquote[class*="wp-block-quote"][class*="is-style-"],
  blockquote[class*="wp-block-quote"][class*="is-"],
  .wp-block-quote:not(.is-large):not(.is-style-large),
  .wp-block-freeform.block-library-rich-text__tinymce blockquote {
    padding: 1.8em 2.5em;
  }

  .body_style_boxed .large-title .sc_item_title {
    font-size: 40px;
  }

  .body_style_boxed .large-title .sc_title_descr {
    font-size: 14px;
  }
}

/*# sourceMappingURL=skin-responsive.css.map */
