// Swipper

.swiper-container {
}
.swiper-wrapper {
  position: relative;
}
.swiper-slide {
  width: 100%;
  height: 100%;
}

.swiper-lazy-loaded {
  display: block;
  margin: 0 auto;
}

.swiper-lazy-preloader {
  margin-top: 145px;
}
.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background: transparent;
  opacity: 0.5;
  border: 1px solid #fff;
}

.swiper-pagination-bullet-active {
  background: #fff;
}

// Swiper Home

.carousel-fullscreen {
  position: relative;
  background-color: $theme-color-body;
}

.carousel-fullscreen-slides {
}

.carousel-fullscreen-slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  mix-blend-mode: multiply;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    user-select: none;

    background: linear-gradient(
      180deg,
      rgba($theme-color-body, 0) 19.04%,
      rgba($theme-color-body, 0.9) 58.64%
    );

    @include lg {
      background: linear-gradient(
        90deg,
        rgba($theme-color-body, 0.9) 25.68%,
        rgba($theme-color-body, 0.62) 47.71%,
        rgba($theme-color-body, 0) 67.47%
      );
    }
  }

  a {
    position: relative;
  }
}

.carousel-fullscreen-container {
  box-sizing: border-box;
  padding-top: $sp-6;
  padding-bottom: 567px;

  @include md {
    padding-bottom: 774px;
  }

  @include lg {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 24px;
    max-width: 440px;
    height: 768px;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @include xl {
    padding-left: 80px;
    height: 965px;
  }

  @include xxl {
    padding-left: 392px;
    max-width: 900px;
    height: 1380px;
  }
}

.carousel-fullscreen-description {
  position: absolute;
  z-index: 2;
  user-select: none;
  top: 0;
}

.carousel-fullscreen-description-supertitle {
  @include fontSizing(25px, 33px);

  margin-bottom: $sp-1;
}

.carousel-fullscreen-description-title {
  @include fontSizing(28px, 34px);

  font-family: var(--font-heading);
  // text-transform: uppercase;
  font-weight: 900;

  @include md {
    @include fontSizing(40px, 48px);
  }

  @include lg {
    max-width: 417px;
  }
}

.carousel-fullscreen-description-copy {
}

.swiper-slide-light {
  .carousel-fullscreen-description-supertitle,
  .carousel-fullscreen-description-title,
  .carousel-fullscreen-description-copy {
    color: $theme-color-black;
  }
}

.swiper-slide-dark {
  .carousel-fullscreen-description-supertitle,
  .carousel-fullscreen-description-title,
  .carousel-fullscreen-description-copy {
    color: $theme-color-white;
  }
}
