.swiper-wrapper {
  position: relative;
}
.swiper-slide {
  width: 100%;
  height: 100%;
}

.swiper-pagination {
  display: flex;
  gap: 8px;
  left: 50%;
  bottom: 40px;
  transform: translate3d(0, 0, 0) translateX(-50%);

  &-bullet {
    background: $system-neutral-00;
  }
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-prev,
.swiper-button-next,
.swiper-container-rtl .swiper-button-next {
  color: $theme-color-white;
  display: flex;
  height: 45px;
  width: 45px;
  border-radius: 9999px;
  border: 1px solid transparent;
  transform: scale(1);

  &::after {
    font-size: 20px;
    font-weight: 800;
  }

  &:hover {
  }
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: 20px;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: 20px;
}

.swiper-lazy-loaded {
  display: block;
  margin: 0 auto;
}

.swiper-lazy-preloader {
  margin-top: 145px;
}

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background: transparent;
  opacity: 0.5;
  border: 1px solid #fff;
}

.swiper-pagination-bullet-active {
  background: #fff;
}

.colorbar {
  &-after,
  &-before {
    position: relative;
    height: 1px;
  }

  &-after::before,
  &-after::after,
  &-before::before,
  &-before::after {
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
  }

  &-before::before,
  &-after::before {
    left: 0;
    background-color: rgba($theme-color-secondary, 1);

    @include lg {
      background-color: rgba($theme-color-primary, 1);
    }
  }

  &-before::after,
  &-after::after {
    right: 0;
    background-color: rgba($theme-color-primary, 1);

    @include lg {
      background-color: rgba($theme-color-secondary, 1);
    }
  }

  &-before::before {
    width: 75%;
  }

  &-before::after {
    width: 25%;
  }

  &-after::before {
    width: 25%;
  }

  &-after::after {
    width: 75%;
  }
}

.carousel-fullscreen {
  position: relative;
  background-color: $theme-color-body;
}

.carousel-fullscreen-slides {
}

.carousel-fullscreen-slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  mix-blend-mode: multiply;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    user-select: none;

    background: linear-gradient(
      180deg,
      rgba($theme-color-body, 0.95) 20%,
      rgba($theme-color-body, 0) 75%,
      rgba($theme-color-body, 0) 100%
    );

    @include lg {
      background: linear-gradient(
        90deg,
        rgba($theme-color-body, 0.9) 25.68%,
        rgba($theme-color-body, 0.62) 47.71%,
        rgba($theme-color-body, 0) 67.47%
      );
    }
  }

  a {
    position: relative;
  }
}

.carousel-fullscreen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-left: 80px;
  height: 556px;

  @include md {
    height: 774px;
  }

  @include lg {
    justify-content: center;
    align-items: flex-start;
    padding-left: 100px;
    height: 556px;
  }

  @include xl {
    padding-left: 150px;
    height: 660px;
  }

  @include xxl {
    padding-left: 392px;
    max-width: 900px;
  }
}

.carousel-fullscreen-description {
  position: relative;
  z-index: 1;
  user-select: none;
  margin-right: auto;
  margin-left: auto;
  max-width: 414px;

  @include md {
    max-width: 600px;
    margin-right: unset;
    margin-left: unset;
  }
}

.carousel-fullscreen-description-supertitle {
  @include fontSizing(20px, 40px);

  text-transform: capitalize;
}

.carousel-fullscreen-description-title {
  @include fontSizing(50px, 58px);

  font-family: var(--font-heading);
  text-transform: uppercase;
  font-weight: 900;

  @include md {
    @include fontSizing(70px, 78px);
  }
}

.carousel-fullscreen-description-subtitle {
  @include fontSizing(40px, 48px);

  font-family: var(--font-heading);
  text-transform: uppercase;
  font-weight: 900;
  color: $theme-color-primary;

  @include md {
    @include fontSizing(50px, 58px);
  }
}

.carousel-fullscreen-description-copy {
  max-width: 75%;
}

.swiper-slide-light {
  .carousel-fullscreen-description-supertitle,
  .carousel-fullscreen-description-title,
  .carousel-fullscreen-description-copy {
    color: $theme-color-black;
  }
}

.swiper-slide-dark {
  .carousel-fullscreen-description-supertitle,
  .carousel-fullscreen-description-title,
  .carousel-fullscreen-description-copy {
    color: $theme-color-white;
  }
}
