// Swipper

.swiper-container {
}
.swiper-wrapper {
}
.swiper-slide {
  width: 100%;
  height: 100%;
}

.swiper-lazy-loaded {
  display: block;
  margin: 0 auto;
}

.swiper-lazy-preloader {
  margin-top: 145px;
}
.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background: transparent;
  opacity: 0.5;
  border: 1px solid #fff;
}

.swiper-pagination-bullet-active {
  background: #fff;
}

// Swiper Home

.hero-swiperhome {
  position: relative;
  background-color: $theme-dark-body;
  overflow: hidden;
  border-radius: 8px;
  // min-height: 300px;

  .contain-xxl {
  }
}

.hero-swiperhome-slides {
  margin-top: $sp-3;
  margin-bottom: $sp-3;
  overflow: hidden;
  border-radius: 8px;

  &:before {
    content: '';
    min-height: 100%;
    padding-top: 100%;
  }
}

.hero-swiperhome-slide {
  a {
    position: relative;
  }
  &-picture {
  }
  &-img {
  }
}

.hero-swiperhome-description {
  // position: absolute;
}
.hero-swiperhome-description-text {
}
