.servicesInner {
  display: grid;
  column-gap: 48px;
  row-gap: 80px;
}

.servicesHeader {
}

.servicesSupertitle {
  font-size: 20px;
  line-height: 30px;
  margin-top: 8px;
  font-weight: bold;
}

.servicesTitle {
}

.servicesItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.servicesItemIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  padding: 12px;

  svg {
    color: #1e2024;
    font-size: 40px;
    line-height: 20px;
  }
}

.servicesItemIcon svg {
  color: #1e2024;
  font-size: 40px;
  line-height: 20px;
}

.servicesItemTitle {
  font-size: 40px;
  line-height: 60px;
  margin-top: 16px;
  color: #1e2024;
}

.servicesItemCopy {
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;
  color: #f6f7f7;
  text-align: center;
}

@media screen and (min-width: 640px) {
  .servicesInner {
    grid-template-columns: repeat(2, 1fr);
  }

  .servicesInner:last-of-type {
    grid-column: 6 / 11;
  }
}

@media screen and (min-width: 1024px) {
  .servicesInner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1800px) {
  .servicesInner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
