.content-cardgrid {
}

.content-cardgrid-heading {
  margin-top: $sp-4;
}

.content-cardgrid-title {
  @include fontSizing(28px, 34px);

  margin-top: $sp-5;
  color: $system-neutral-00;
  font-family: $font-sans;
}

.content-cardgrid-container {
  @include grid;

  gap: $sp-2;
}

.content-cardgrid-item {
  &:nth-child(1) {
    grid-column: 1 / 13;

    @include lg {
      grid-column: 1 / 5;
    }

    .card-blocktitle {
      color: $system-neutral-00;
    }
  }
  &:nth-child(2) {
    grid-column: 1 / 13;

    @include md {
      grid-column: 1 / 7;
    }

    @include lg {
      grid-column: 5 / 9;
    }

    .card-blocktitle {
      color: $system-green-50;
    }
  }
  &:nth-child(3) {
    grid-column: 1 / 13;

    @include md {
      grid-column: 7 / 13;
    }

    @include lg {
      grid-column: 9 / 13;
    }

    .card-blocktitle {
      color: $system-yellow-50;
    }
  }
  .card-content {
    min-height: 70px;
  }
}

.content-cardgrid-card {
  position: relative;
  cursor: pointer;
  z-index: 1;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  height: 100%;
  background-color: $system-neutral-80;
  border: 1px solid $system-neutral-70;
  overflow: hidden;

  text-decoration: none;

  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      90deg,
      rgba($system-neutral-90, 0.9) 25.68%,
      rgba($system-neutral-90, 0.62) 47.71%,
      rgba($system-neutral-90, 0) 67.47%
    );
  }

  &:hover {
    .card-cta-button {
      background-color: rgba($system-neutral-00, 0.85);
    }
    .card-image {
      filter: opacity(1);
    }
  }
}

.card-heading {
  position: relative;
  z-index: 2;
  padding-top: $sp-3;
  padding-left: $sp-3;
  color: $system-neutral-00;
}

.card-image {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
  background-color: $brand-primary;
  transition: filter 0.6s ease-out;
}

.card-blocktitle {
  @include fontSizing(40px, 48px);

  text-transform: uppercase;
  font-weight: 900;
}

.card-blocksubtitle {
  @include fontSizing(40px, 30px);

  text-transform: uppercase;
  font-weight: 300;
}

.card-date {
  @include fontSizing(13px, 24px);

  text-transform: uppercase;
  font-weight: 600;
}

.card-content {
  flex: 1 0 auto;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: $sp-1 $sp-3 $sp-2 $sp-3;
}

.button-block {
  display: flex;

  &.button-right {
    justify-content: flex-end;
  }
  &.button-left {
    justify-content: flex-start;
  }
  &.button-full {
    justify-content: stretch;
  }
}

.card-cta-button {
  @include fontSizing(13px, 24px);
  @include shadow-form;

  cursor: pointer;
  display: flex;
  align-items: center;
  justify-self: flex-end;
  background-color: $system-neutral-00;
  color: $system-neutral-90;
  border-radius: 4px;
  // font-family: var(--font-heading);
  font-weight: 700;
  padding: 2px $sp-1;
  transition: background-color 0.3s ease-out;

  svg {
    margin-left: 4px;
    width: 15px;
  }
}
