// stylelint-disable no-descending-specificity
// Core/table block
// Table heading cells
th {
  backface-visibility: hidden;
  background-color: var(--color-scorpion);
  // color: $system-neutral-00;
  font-weight: $weight-bold;
  overflow: hidden;
  text-align: left;
}

td {
  // color: var(--color-black);
}

td,
th,
.wp-block-table td,
.wp-block-table th {
  border: 0;
  font-family: $font-sans;
  @include fontSizing(14px, 22px);
  height: 2rem;
  padding: 0.6rem 1.5rem;
}

tr:nth-child(even) {
}

tr:nth-child(odd) {
}

thead,
.wp-block-table thead {
  border: 0;

  th:first-child {
    border-top-left-radius: 8px;
  }

  th:last-child {
    border-top-right-radius: 8px;
  }
}

// Defaults
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wp-block-table {
}

.wp-block-table.alignfull {
}
