// Image block
.wp-block-image {
  display: block;

  &.alignwide,
  &.alignfull {
    padding-left: 0;
    padding-right: 0;
  }

  .alignwide img,
  .alignfull img {
    width: 100%;
  }

  // No border radius on full width image and wide on small screens
  .alignfull img {
    border-radius: 0;
  }

  > figure {
    display: block;
    width: auto;

    &.alignleft,
    &.alignright {
      // Hack for keeping figcaption from flowing over floated image
      // This variable is set inline to the corresponding figure with gutenberg-helpers.js
      // stylelint-disable-next-line csstools/value-no-unknown-custom-properties
    }
  }

  figcaption {
    margin-bottom: 2rem;
  }

  .aligncenter {
    text-align: center;
  }

  .aligncenter img {
    margin-left: auto;
    margin-right: auto;
  }
}
