// Core/separator block
hr,
.wp-block-separator {
  background-image: linear-gradient(
    to bottom,
    rgb(0 0 0 / 0) 50%,
    rgb(0 0 0 / 0.3) 50%
  );
  background-position: 0 50%;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  border: 0;
  height: 0;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.wp-block-separator.is-style-default {
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  opacity: 0.4;
  width: 100px;
}
