// Core/pullquote block
.wp-block-pullquote {
  border-color: var(--color-blockquote);
  border-width: 3px;
  display: grid;

  [aria-label='Pullquote citation text'],
  cite {
    display: block;
    margin-top: 3rem;
  }
}

.wp-block-pullquote.alignwide,
.wp-block-pullquote.alignfull {
  padding-left: 0;
  padding-right: 0;

  blockquote {
    justify-self: center;
  }
}

.wp-block-pullquote.alignfull {
}
