/* stylelint-disable at-rule-no-unknown */
.contain-xs,
.contain-sm,
.contain-md,
.contain-lg,
.contain-xl {
  margin-right: auto;
  margin-left: auto;
}

.contain-xs {
  max-width: $contain-xs;
}

.contain-sm {
  max-width: $contain-sm;
}

.contain-md {
  max-width: $contain-md;
}

.contain-lg {
  max-width: $contain-lg;
}

.contain-xl {
  @include containXXL();
}

.contain-xxl {
  @include containXXL();
}

.decode {
  &-container {
    position: relative;
  }
  &-main {
    position: absolute;
    background-color: white;
  }
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}

h5 {
  @include h5;
}

.text-light,
.text-light > *,
.text-light ~ * {
  color: $system-neutral-00;
}
